<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GreenPipes" version="1.0.9" targetFramework="net452" />
  <package id="log4net" version="2.0.7" targetFramework="net452" />
  <package id="MassTransit" version="3.5.5" targetFramework="net452" />
  <package id="MassTransit.Log4Net" version="3.5.5" targetFramework="net452" />
  <package id="MassTransit.Ninject" version="3.5.5" targetFramework="net452" />
  <package id="MassTransit.RabbitMQ" version="3.5.5" targetFramework="net452" />
  <package id="NEventStore" version="5.2.0" targetFramework="net452" />
  <package id="NewId" version="3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Extensions.NamedScope" version="3.2.0.0" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net452" />
</packages>